[submodule "Algo-Backend"]
	path = Algo-Backend
	url = https://github.com/Team-ThreeGo/Algo-Backend.git
[submodule "Algo-Data"]
	path = Algo-Data
	url = https://github.com/Team-ThreeGo/Algo-Data.git
[submodule "Algo-Eureka-Server"]
	path = Algo-Eureka-Server
	url = https://github.com/Team-ThreeGo/Algo-Eureka-Server.git
[submodule "Algo-Member-Service"]
	path = Algo-Member-Service
	url = https://github.com/Team-ThreeGo/Algo-Member-Service.git
[submodule "Algo-Coding-Ai"]
	path = Algo-Coding-Ai
	url = https://github.com/Team-ThreeGo/Algo-Coding-Ai.git
[submodule "Algo-Gateway"]
	path = Algo-Gateway
	url = https://github.com/Team-ThreeGo/Algo-Gateway.git
